
{% extends 'base.html' %}

{% block title %}
    IP database
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <h1>{{ qytsummary }}</h1>
    <!-- {% if mytime is 6 or mytime is 0 %}
    <p style="color: green"><strong>今天是周末</strong></p>
    {% elif mytime > 3 %}
    <p style="color: green"><strong>周三已经过去,周末快到了</strong></p>
    {% else %}
    <p style="color: green"><strong>今天不是周末</strong></p>
    {% endif %} -->
  
    <p style="color: red">IP address</p>
        <ol>
            {% for ip, mask in ipmask %}
            <li>
                <span>{{ ip }}</span> - <span>{{mask}}</span>
            </li>
            {% endfor %}
        </ol>
    <!-- <p style="color: red">讲师</p>
        <ul>
            {% for t in teacher_list %}
            <li>部门:{{ t.depart }} 讲师:{{ t.teacher }}</li>
            {% endfor %}
        </ul> -->

</div>
{% endblock body %}